/* 
--- 01 TYPOGRAPHY SYSTEM 

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights :
Default : 400

- Line heights : 
Default : 1.2


- Fonts Family :
(copy the html link before the CSS file !)
font-family: 'Rubik', sans-serif;

1 | Inter 1.6rem

 --- 02 COLORS SYSTEM (https://maketintsandshades.com/)

--color-primary: #e67e22;
--color-tints : #e67e22 #cf711f #b8651b #a15818 #8a4c14 #733f11 #5c320e #45260a #2e1907 #170d03 #000000
--color-shades : #e67e22 #e98b38 #eb984e #eea564 #f0b27a #f3bf91 #f5cba7 #f8d8bd #fae5d3 #fdf2e9 #ffffff

--color-grey : #555;
--color-white: #fff;


--- 03 IMAGES

--- 04 ICONS

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  /* font-size: 10px;   equal to 1rem */
  /* pourcentage of user's browser font-size setting  */
  font-size: 62.5%;

  /* Colors */
  --color-primary: #e67e22;
  --color-tints-1: #fdf2e9;
  --color-tints-2: #cf711f;
  /* Grey */
  --color-grey: #555;
  --color-lgrey: #333;
  --color-white: #fff;
}
/* GLOBAL RESET  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-grey);
}
/*HYPER CLASS*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.section-hero {
  background-color: var(--color-tints-1);
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /*Put transition on original "state" */
  transition: background-color 400ms;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--color-tints-2);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-white);
  color: var(--color-grey);
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-tints-1);
  /* border: 3px solid #fff; */
  /*Trick to add border inside*/
  box-shadow: inset 0 0 0 3px var(--color-white);
}
.hero-img {
  max-width: 100%;
  height: auto;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: var(--color-lgrey);
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--color-tints-1);
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: var(--color-tints-2);
  font-weight: 700;
}
